    body {
    font-family: "Pacifico", cursive;
    font-weight: lighter;
    font-style: normal;
    background-image: url('images/oldbackgroundnew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 25px;
    color: rgb(102, 69, 25);
  }
    .titlepage{
        margin: 15%;
        font-size: 35px;
        

    }
        .title{
            text-align: center;
            
        }
        .recipebody{
        text-align: center;
        margin: 3%;
        list-style-position: inside;
        }
          .Ingredients{
            text-align: left;
            margin: 2%;
          }
            a:visited{
              color:  rgb(102, 69, 25);
              tet
            }